<!-- css -->
<link href="/assets/css/normalize.css" rel="stylesheet" />
<link href="/assets/css/common/application.css" rel="stylesheet" />
<link href="/assets/css/font-awesome.css" rel="stylesheet" />
<link href="/assets/css/jquery.bxslider.css" rel="stylesheet" />
<link href="/assets/css/ng-modal.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- js -->
<script src="/assets/js/jquery/jquery-2.1.0.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/angular-file-upload-shim.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/angular/angular.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/angular-file-upload.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/angular/angular-sanitize.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/angular/angular-animate.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/angular/angular-cookies.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/jquery.bxslider.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/growl-notifications.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/ng-modal.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/ui-bootstrap-0.11.0.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/third_party/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/common/application.js" type="text/javascript" language="JavaScript"></script>
<script src="/assets/js/common/services/services.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/www/assets/js/directives/userDirectives.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/shop/assets/js/directives/shopDirectives.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/www/assets/js/controllers/userControllers.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/www/assets/js/controllers/linkController.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/shop/assets/js/controllers/shopControllers.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/shop/assets/js/controllers/feedbackControllers.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/shop/assets/js/controllers/sliderControllers.js" type="text/javascript" language="JavaScript"></script>
<script src="/application/shop/assets/js/controllers/modalWindowsControllers.js" type="text/javascript" language="JavaScript"></script>
<!-- other -->
<link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
